services:
  kong:
    image: kong:3.7
    restart: unless-stopped
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: "/kong/kong.yml"
      KONG_PLUGINS: "bundled,grpc-cookie-transformer,auth-token-validator,auth-metadata-setter,auth-cookie-clearer,user-context-injector"
      KONG_LUA_PACKAGE_PATH: "/kong/plugins/?.lua;/kong/plugins/?/init.lua;;"
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
      KONG_PROXY_LISTEN: "0.0.0.0:8000, 0.0.0.0:8443 ssl"

    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
    volumes:
      - ./kong.yml:/kong/kong.yml
      - ./protos:/kong/protos
      - ./plugins:/kong/plugins
      - ./logs:/tmp
    env_file:
      - .env

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    restart: unless-stopped
    depends_on:
      - kong

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana

    depends_on:
      - prometheus
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100" # Expose for Grafana to query
    volumes:
      - ./loki-config.yml:/etc/loki/local-config.yaml # Config file
      - loki-data:/loki # Persistent storage for logs
    command: -config.file=/etc/loki/local-config.yaml
    restart: unless-stopped

  # NEW: Add Promtail
  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml # Config file
      - ./logs:/logs # Read Kong logs from here
    command: -config.file=/etc/promtail/config.yml
    restart: unless-stopped
    depends_on:
      - loki
volumes:
  prometheus-data:
  grafana-data:
  loki-data:
