services:
  kong:
    image: kong:3.7
    restart: unless-stopped
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: "/kong/kong.yml"
      KONG_PLUGINS: "bundled,grpc-cookie-transformer,auth-token-validator,auth-metadata-setter,auth-cookie-clearer"
      KONG_LUA_PACKAGE_PATH: "/kong/plugins/?.lua;/kong/plugins/?/init.lua;;"

    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
    volumes:
      - ./kong.yml:/kong/kong.yml
      - ./protos:/kong/protos
      - ./plugins:/kong/plugins
    env_file:
      - .env
